<br/><br/>
<center>
	<form method="post" action="{{ getLink('items') }}">
		<input type="hidden" name="reload" value="1" />
		<input type="submit" value="Reload items" />
	</form>
	This process may take up to 5 minutes on slow machines.
</center>
