<?php
/**
 * mercado-pago configuration
 * notify URL should be set in mercado-pago: http://your-host.com/payments-notify/mpnotification
 */
return [
	'enabled' => true,
	'debug' => false,
	'enable_ssl_verify' => false, // Ativa a verificação SSL ao enviar solicitação para o MercadoPago
	'pointsByDonate' => 250, // coins
	'priceByPoints' => 0.06, // value
	'webhook_x_signature' => '', // X-Signature do webhook gerado pelo Mercado Pago
	'accessToken' => '',
	'publicKey' => ''
];
