<table border="0" cellspacing="1" cellpadding="4" width="100%" class="table table-striped">
	<thead>
	<tr>
		<td colspan="3" class="white"><b>{{ title|raw }}</b></td>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>
			{{ content|raw }}
		</td>
	</tr>
	</tbody>
</table>
