<div class="main-box">
	{% for gateway in gateways %}
		{{ gateway|raw }}
	{% endfor %}
</div>
<style>
.main-box {
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	height: 100%;
}
.floating-box {
	float: left;
	margin-left: 30px;
}
.floating-logo-box {
	height: 130px;
	line-height:8em;
}
.floating-logo {
	vertical-align: bottom;
}
.info-box {
	height: 70px;
	text-align: center;
}
</style>
