<div class="floating-box">
	<div class="floating-logo-box">
		<a href="{{ getLink('points') }}?system=cryptobox" title="Pay with Crypto Coins"><img class="floating-logo" src="{{ constant('BASE_URL') }}plugins/gesior-shop-system/images/gourl.png" border="0" /></a><br/>
	</div>
	<div class="info-box">
		<b>BitCoins</b>
	</div>
	<div class="info-box">
		ALL COUNTRIES!
	</div>
</div>
