<div class="floating-box">
	<div class="floating-logo-box">
		<a href="{{ getLink('points') }}?system=paypal" title="Gain with PayPal"><img class="floating-logo" src="{{ constant('BASE_URL') }}plugins/gesior-shop-system/images/paypal.gif" border="0" /></a><br/>
	</div>
	<div class="info-box">
		Credit card, paypal.<br/>
		<b>{{ config('paypal')['currency_code'] }}</b>
	</div>
	<div class="info-box">
		ALL COUNTRIES!
	</div>
</div>
