<div class="floating-box">
	<div class="floating-logo-box">
		<a href="{{ getLink('points') }}?system=hotpay" title="Gain with PayPal"><img class="floating-logo" src="{{ constant('BASE_URL') }}plugins/gesior-shop-system/images/hotpay-regular.png" width="150" height="50" alt="Hotpay Logo" border="0" /></a><br/>
	</div>
	<div class="info-box">
		Przelew, BLIK, Karty.<br/>
		<b>PLN (zł)</b>
	</div>
	<div class="info-box">
		Poland ONLY!
	</div>
</div>
