<div class="floating-box">
	<div class="floating-logo-box">
		<a href="{{ getLink('points') }}?system=mercado-pago" title="Mercado Pago"><img class="floating-logo" src="{{ constant('BASE_URL') }}plugins/mercado-pago/assets/images/mercado-pago-logo.png" border="0" width="150" height="100" /></a><br/>
	</div>
	<div class="info-box">
		BRASIL
	</div>
</div>
